# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db

# Virtual environments
env/
venv/
.venv/
ENV/
env.bak/
venv.bak/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
egg-info/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
__pypackages__/
*.egg-info/

# Pytest
.cache/
*.cover
*.py,cover
cover/
nosetests.xml
coverage.xml
*.coveragerc

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm
.idea/

# VS Code
.vscode/

# Python bytecode
*.pyc

# Logs
*.log

# Other files
*.DS_Store
*.egg
*.egg-info/
 

  